<h1>{{message}}</h1>
<div *ngFor="let item of data">
  <mat-card class="example-card xyz" >
    <mat-card-header>
      <mat-card-title>{{item['name']}}</mat-card-title>
      <mat-card-subtitle>{{item['reg_date'] | date:'mediumDate'}}, {{item['reg_time']}} </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{item['url']}}" alt="{{item['caption']}}" >
    <mat-card-content>
      <h2>
        {{item['caption']}}
      </h2>
    </mat-card-content>
  </mat-card>
  <br>
</div>
