<nav class="navbar navbar-expand-md navbar-light bg-dark mb-4">
    <div class="container-fluid">
      <a routerLink="/meme" class="navbar-brand">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        
        <!-- <img src="https://styles.redditmedia.com/t5_2bbkuj/styles/communityIcon_9pccy54rvh351.png"> -->
      </a>
      <!-- <div >Memezar</div> -->
      <h1>Memezar</h1>
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="!authenticated">
          <li class="nav-item">
            <a routerLink="/login" class="nav-link"> <strong>Login</strong> </a>
          </li>
          <li class="nav-item">
            <a routerLink="/signup" class="nav-link"><strong>Signup</strong></a>
          </li>
        </ul>

        <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="authenticated">
          <li class="nav-item">
            <a routerLink="/login" class="nav-link" (click)="logout()"><strong>Logout</strong></a>
          </li>
          <li class="nav-item">
            <a routerLink="/post" class="nav-link"><strong>Post</strong></a>
          </li>
        </ul>
  
      </div>
    </div>
  </nav>

  <!-- <div class="header">
    <img src="https://styles.redditmedia.com/t5_2bbkuj/styles/communityIcon_9pccy54rvh351.png">
    <div class="meme-logo">  Meme</div>
    <p class="zar-logo">Zar</p>
</div> -->
